.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    height: auto;
    max-width: 100%;
    max-height: 18em;
    object-fit: cover;
}

.favorite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2em;
    height: 2em;
    max-width: 100%;
}

.recipe-bg {
    background-color: #64b49b;
}

.recipe-name {
    color: #1a1a93;
    font-family: 'Lora', serif;
}

.card-body {
    font-family: 'Lora', serif;
    font-size: 18px;
}

.category-bg {
    background-color: #FDB768;
    color: #FFFFFF;
}

.row {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}