<div class="row">
  <div class="col align-self-center">
    <div class="card mx-auto w-50 text-center" *ngFor="let recipe of recipes">
      <div class="card-header">
        <button class="btn btn-sm btn-link border-0"><img class="favorite d-inline" src="assets/img/favorite.svg" alt="favorite"></button>  
        {{recipe.name}}
      </div>
      <div class="card-body">
        <div><img class="recipe-img img-thumbnail" src="assets/img/{{recipe.id}}.jpg" alt="{{recipe.name}}"></div>
        <div>{{recipe.description}}</div>
      </div>
    </div>
  </div>
</div>